/* Existing .game-behaviour-warning styles */
.game-behaviour-warning {
  color: rgb(203, 129, 141);
  display: flex;
  padding: 12px 0px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px brown;
  text-align: center;
  font-size: 15px;
}
/* Custom Scrollbar */
* {
  font-family: "Rowdies", serif;
}

.bg-text {
  color: rgba(249, 249, 249, 0.8);
  font-size: 150px;
}

* {
  --sb-track-color: #E3CEBB;
  --sb-thumb-color: #854d15;
  --sb-size: 5px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}


.layout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: #0e0121;
  min-height: calc(100vh);
  height: fit-content;
}

.layout-stretch-lock {
  width: fit-content;
  height: fit-content;
}

.mobile-header {
  display: none;
}

.sidebar {
  height: fit-content;
  padding: 49px 34px;
  overflow: hidden;
}

.sidebar>div {
  padding: 1px;
  background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
  overflow: hidden;
  border-radius: 16px;
  max-height: 100%;
}

.sidebar>div>div {
  background-color: #0e0121;
  padding: 52px 14px;
  border-radius: 16px;
  position: relative;
}

/* Mobile styles */
@media (max-width: 767px) {
  .mobile-header {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .desktop-header {
    display: none;
  }
}

/* Desktop styles */
@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: block;
  }
}